/* * {
    background-image: url(../images/background.jpg);
} */

h1{
    display: flex;
    flex-flow: column wrap;
    font-size: 45px;
    font-family: Arial;
    margin: 8px;
    padding: 5px;
}

h2 {
    font-size: 40px;
    display: inline-block;
    margin: 15px;
    padding: 15px;
 
}

button{
    background: linear-gradient(to bottom, green 5%, teal 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 9px 70px;
    text-shadow: 0px 1px 0px #283966;
    max-width: 225px;
    margin: 18px;
}

input {
    display: inline;
}

/* #inputForm {
    font-size: 40px;
    color: var(--secondary-color);
    background-color: rgb(216, 200, 97, .8);
    padding: 20px;
    width: 40%;
    margin: 3.5%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 15px;
} */


/* change these, just place holder */
.select-btn {
    box-shadow: 0px 0px 0px 2px #9eb8ff;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 9px 70px;
    text-shadow: 0px 1px 0px #283966;
    max-width: 225px;
    margin: 18px;
    transition: all 0.4s ease-in-out;
}


#color-text {
    display: inline;
    font-size: 30px;
    font-family: Arial;
    margin: 8px;
    padding: 5px;
}

#question {
    display: flex;
    flex-flow: column wrap;
    font-size: 35px;
    font-family: Arial;
    margin: 8px;
    padding: 5px;
    transition: all 0.4s ease-in-out;
}

#questionTitle {
    display: flex;
    flex-flow: column wrap;
    font-size: 30px;
    font-family: Arial;
    margin: 8px;
    padding: 5px;
}

#announcement {
    display: flex;
    flex-flow: column wrap;
    display: inline;
  font-weight: bold;
  position: relative;
  font-size: 40px;
    display: inline-block;
    font-family: Arial;
}

#countdown {
    text-align: center;
    position: absolute;
    right: -10px;
    top: 100px;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    

}



.danger-btn {
    box-shadow: 0px 0px 0px 2px #9eb8ff;
    background: linear-gradient(to bottom, #ff453f 5%, #a71f1f 100%);
    background-color: #f1403a;
    border-radius: 10px;
    border: 1px solid #964e4e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 9px 20px;
    text-shadow: 0px 1px 0px #283966;
    max-width: 120px;
    margin-left: 35px;
    margin-top: 30px;
  }
  
  .danger-btn:hover {
    background: linear-gradient(to bottom, #a71f1f 5%, #ff453f 100%);
    background-color: #be4141;
  }
  
  .danger-btn:active {
    position: relative;
    top: 1px;
  }
  
  .score-li {
    box-shadow: 0px 0px 0px 2px #9eb8ff;
    background: linear-gradient(to bottom, #2e2a2a 5%, #afabab 100%);
    background-color: #1f1b1b;
    border-radius: 10px;
    border: 1px solid #a19595;
    display: block;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 9px 20px;
    text-shadow: 0px 1px 0px #283966;
    width: 179px;
    margin-left: 35px;
    margin-top: 30px;
    text-align: justify;
  }
  
@media screen and (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
    #countdown {
      position: fixed;
      bottom: -10px;
      top: revert;
    }
  }