h2 {
    font-size: 40px;
    display: inline-block;
    margin: 15px;
    padding: 15px;
}

input {
    font-size: 40px;
}


/* change these, just place holder */
.select-btn {
    box-shadow: 0px 0px 0px 2px #9eb8ff;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 9px 70px;
    text-shadow: 0px 1px 0px #283966;
    max-width: 225px;
    margin: 18px;
    transition: all 0.4s ease-in-out;
}


#color-text {
    display: inline;
}

#question {
    display: flex;
    flex-flow: column wrap;
    font-size: 35px;
    font-family: Arial;
    margin: 8px;
    padding: 5px;
    transition: all 0.4s ease-in-out;
}

#announcement {
    display: inline;
  font-weight: bold;
  position: relative;
}

#countdown {
    text-align: end;
    position: absolute;
    right: -10px;
    top: 100px;
}

@media screen and (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
    #countdown {
      position: fixed;
      bottom: -10px;
      top: revert;
    }
  }